.buildpath
.editorconfig
.project
.settings
/console
/package-lock.json
/scripts/assets/node_modules
/web/core
/web/modules/contrib/
/web/profiles/contrib/
vendor
web/themes/lefetz_anime/assets/css/*
/web/sites/default/files/*
/web/sites/default/settings.php
/web/themes/contrib